html, body {
    min-height: 100dvh;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(#374151, #111827) no-repeat;
    color: white;
    font-weight: 400;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.link {
    font-size: 14px;
    line-height: 100%;
    color: white;
    text-decoration: none;
}

.input {
    height: 40px;
    font-size: 16px;
    line-height: 100px;
    background: rgb(31 41 55 / 60%);
    border: none;
}

.post-header {
    font-size: 14px;
    line-height: 100px;
    color: white;
    opacity: 0.6;
}

.author-name {
    font-size: 16px;
    line-height: 26px;
}

.author-label {
    font-size: 14px;
    line-height: 28px;
    opacity: 0.6;
}

.lead {
    font-size: 20px;
    line-height: 32;
}

.text {
    font-size: 16px;
    line-height: 30px;
}