.form {
    font-family: Open Sans, Arial, sans-serif;
    background: white;
}

.form-title {
    color: #333;
    font-size: 36px;
    line-height: 100%;
}

.form-already-exist {
    color: #666;
    font-size: 18px;
    line-height: 100%;
}

.form-link {
    color: #089FE0;
    font-size: 18px;
    line-height: 100%;
}

input {
    font-size: 16px;
    line-height: 100%;
    color: #333;
    font-weight: 600;
    background-color: #F5F5F5;
}

input:focus {
    background-color: white;
}

button {
    color: white;
    font-size: 18px;
    line-height: 100%;
    background-color: #089FE0;
}

label {
    font-size: 14px;
    line-height: 100%;
}

label a {
    color: #089FE0;
}